@page "/customers"

<h3>Customers</h3>

<form >
    <input type="button" value="CREATE NEW" onclick="location.href='newcustomer'" />
</form>
<form>
    <input type="button" value="EDIT EXISTING" onclick="location.href='customerdetails'" />
</form>

@code {

}
