@page "/neworder"
@inject HttpClient Http
@using BlazorTodo.Models

<h1>New Order</h1>

<form action="/action_page.php">
    <label for="fname">Customer ID</label><br />
    <input type="text" id="custID" name="custID"><br><br>

    <label>Select start date</label><br />
    <MatDatePicker @bind-Value="FeaturesDateTime" EnableTime="true" Enable24hours="true"></MatDatePicker>

    <fieldset>
        <label>Select a operator</label>
        <p>
            <select id="myList" @bind="SelectOperator">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </p>
    </fieldset>
    <label for="adress">Adress</label><br />
    <input type="text"><br><br>
    <label for="adress">Adress Information(Gate number etc)</label><br />
    <input type="text"><br><br>
    <label for="description">Description(Max 150 characters)</label><br />
    <textarea @bind="descriptionInput" rows="4" cols="50" maxlength="150" placeholder="Max 150 characters">

    </textarea>
</form>

<button class="btn btn-primary" @onclick="AddOrder">Submit</button>

@code {

    DateTime FeaturesDateTime = DateTime.Now;
    public string descriptionInput { get; set; }
    public int SelectOperator { get; set; }
    private async Task AddOrder()
    {
        var addOrder = new Orders {
            opId = SelectOperator,
            orderDescription = descriptionInput,
            orderResponse = "Test input",
            orderDate = FeaturesDateTime,
            orderComplete = false
        };
        await Http.PostAsJsonAsync("https://localhost:44374/api/Orders", addOrder);
        descriptionInput = string.Empty;
    }



}
