@page "/admin/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create</h3>

<Form ButtonText="Lägg till Admin" admin="@admin"
      OnValidSubmit="@CreateAdmin" />

@code {
    Admins admin = new Admins();
    async Task CreateAdmin()
    {
        await http.PostAsJsonAsync("https://localhost:44374/api/admins", admin);
        await js.InvokeVoidAsync("alert", $"Admin {admin.FirstName} Skapades!");
        uriHelper.NavigateTo("admin");
    }
}