@page "/admin/edit/{adminId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Edit</h3>
<Form ButtonText="Update" admin="admin"
      OnValidSubmit="@EditAdmin" />
@code {
    [Parameter] public int adminId { get; set; }
    Admins admin = new Admins();
    protected async override Task OnParametersSetAsync()
    {
        admin = await http.GetFromJsonAsync<Admins>($"https://localhost:44374/api/admins/ {adminId}");
    }
    async Task EditAdmin()
    {
        await http.PutAsJsonAsync("https://localhost:44374/api/admins", admin);
        await js.InvokeVoidAsync("alert", $"Updated admin {admin.FirstName} {admin.LastName} Successfully!");
        uriHelper.NavigateTo("admin");
    }
}