@page "/operator/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Lägg till ny operatör</h3>

<Form ButtonText="Lägg till Operatör" o="@o"
      OnValidSubmit="@CreateOperator" />

@code {
    Operators o = new Operators();
    async Task CreateOperator()
    {
        await http.PostAsJsonAsync("https://webapitodo20200919020315.azurewebsites.net/api/operators", o);
        await js.InvokeVoidAsync("alert", $"Vad kul! Operatör {o.FirstName} {o.LastName} Skapades!");
        uriHelper.NavigateTo("operatorlist");
    }
}
