@page "/operatorlist"
@inject HttpClient client
@inject IJSRuntime js

<h3>Operatör</h3>
<div class="form-group">
    <a class="btn btn-success" href="operator/create"><i class="oi oi-plus"></i> Skapa ny Operatör</a>
</div>
<br>

@if (techOp == null)
{
    <text>Loading...</text>
}
else if (techOp.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Epost</th>
                <th>Telefonnummer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Operators o in techOp)
            {
                <tr>
                    <td>@o.FirstName</td>
                    <td>@o.LastName</td>
                    <td>@o.Email</td>
                    <td>@o.Phone</td>
                    <td>
                        <a class="btn btn-success" href="operator/details/@o.Id">Mer Info</a>                 

                </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    Operators[] techOp { get; set; }
    protected override async Task OnInitializedAsync()
    {
        techOp = await client.GetFromJsonAsync<Operators[]>("https://localhost:44374/api/operators");
    }
   
}
