@page "/customer/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Lägg till en företagskund</h3>

<Form ButtonText="Lägg till företagskund" customer="@customer"
      OnValidSubmit="@CreateCustomer" />

@code {
    Customers customer = new Customers();
    async Task CreateCustomer()
    {
        await http.PostAsJsonAsync("https://localhost:44374/api/customers", customer);
        await js.InvokeVoidAsync("alert", $"GRATTIS! Företagskund {customer.Company} Skapades!");
        uriHelper.NavigateTo("customerlist");
    }
}