@page "/customer/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

@if (SetCurrentUser.IsAuthenticated == true)
{
    <h3>Lägg till en företagskund</h3>

    <Form ButtonText="Lägg till företagskund" customer="@customer"
          OnValidSubmit="@CreateCustomer" />

}
else
{
    <h3>User authentication token not found. Please log in..</h3>
}

@code {
    Customers customer = new Customers();
    async Task CreateCustomer()
    {
        await http.PostAsJsonAsync("https://webapitodo20200919020315.azurewebsites.net/api/customers", customer);
        await js.InvokeVoidAsync("alert", $"GRATTIS! Företagskund {customer.Company} Skapades!");
        uriHelper.NavigateTo("customerlist");
    }
}